<html>

<head>
<title>List of people who died climbing Mount Everest</title>
</head>

<body>
<h3> List of people who died climbing Mount Everest </h3>


<!--begin.rcode
echo=FALSE
library("rvest")

pop <- html("http://en.wikipedia.org/wiki/List_of_people_who_died_climbing_Mount_Everest")
df <- html_table(html_nodes(pop, "table")[[1]],fill=TRUE)
date <- as.Date(df$Date)
date<-format(date,"%m")
df$Date <- date
count<-table(df$Date)

library(ggplot2)
barplot(count, main="DEaths in Everest", 
    xlab="Months",ylab="Number of people")
end.rcode-->



<!--begin.rcode fig.width=7, fig.height=6

end.rcode-->

</body>
</html>
